# Bibliotecas principais para Dados
pandas==2.3.3
numpy==2.4.0

# Utilitários e Requisições
requests==2.32.5
python-dateutil==2.9.0.post0
tqdm==4.67.1

plotly
python-dotenv

streamlit
matplotlib
scikit-learn
sqlalchemy
openai
scipy
seaborn
psycopg2-binary

